# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Archivos de ayuda/reportes locales (opcional si quieres subirlos, pero suelen ser internos)
INFORME_TECNICO.md
TESTING.md
CHANGELOG.md

# Directorios de dependencias (si llegaras a usar npm)
node_modules/
dist/
build/
